.form1{
	background-color: #0b5c22;
	padding: 20px;
	color: white;
	border-radius: 20px;
}

.datos{
	margin-bottom: 20px;
}

input{
	height: 30px;
	font-size: 16pt;
	width: 100%;
}

v
label{
	display: block;
}

.boton{
	text-align: center;
}

.btn{
	padding: 7px 15px 7px 15px;
	border-radius: 20px;
	box-shadow: 3px 3px 3px;
	background-color: #5aae32;
	border: 0px;
	font-family: monospace;
	font-size: 14pt;
}

.btn:hover{
	background-color: #0b5c22;
	color: white;
	border: 2px solid #5aae32;
}

#resultado1{
	background-color: #0b5c22;
	margin-top: 30px;
	padding: 10px;
	text-align: center;
	font-size: 16pt;
	color: black;
}